./ansible
*.old
*.orig
*.py[cod]
*.retry
*.save
*.zip
.*.old
.*.orig
.*.save
.*.swp
.ansible*
.bash_history
.cache
.config
.fontconfig
.lesshst
.rediscli_history
.rnd
.ssh/known_hosts*
.vagrant.d
.vim
.viminfo
.zcompdump
cloud_automation
envs
projects
repos
scripts
VirtualBox\ VMs
