./ansible
*.old
*.orig
*.py[cod]
*.retry
*.save
*.zip
.*.old
.*.orig
.*.save
.*.swp
.DS_Store
.ansible*
.bash_history
.cache
.claude_cache
.chef
.config
.docker
.elinks
.fontconfig
.lesshst
.rediscli_history
.rnd
.ssh/known_hosts*
.ssh/environment
.ssh/id_*
.ssh/*.pem
.ssh/*.key
.ssh/authorized_keys
.ssh/config
.aws/credentials
.aws/config
.aws/sso
.aws/cli
.gnupg
.netrc
.pgpass
.adsk-accounts.json
.git-credentials
.1password
.kube/config
.vault-token
*.pem
*.p12
*.pfx
*.jks
*.keychain-db
.env
.env.*
*.stuff.zip
*.apps.zip
migration-exports/
.vagrant.d
.vim
.viminfo
.Xauthority
.zcompdump
automation
cloud_automation
envs
golang
projects
repos
rpmbuild
scripts
VirtualBox\ VMs
