./ansible
*.old
*.orig
*.py[cod]
*.retry
*.save
*.zip
.*.old
.*.orig
.*.save
.*.swp
.ansible*
.bash_history
.cache
.chef
.config
.docker
.elinks
.fontconfig
.lesshst
.rediscli_history
.rnd
.ssh/known_hosts*
.vagrant.d
.vim
.viminfo
.Xauthority
.zcompdump
automation
cloud_automation
envs
projects
repos
rpmbuild
scripts
VirtualBox\ VMs
