"$schema" = 'https://starship.rs/config-schema.json'

format = """
[](color_yellow)$os$username[](bg:color_black fg:color_yellow)\
[](color_green)$directory[](bg:color_black fg:color_green)\
[](color_indigo)$git_branch$git_status[](bg:color_black fg:color_indigo)\
[](color_blue)\
$c\
$cpp\
$rust\
$golang\
$nodejs\
$php\
$java\
$kotlin\
$haskell\
$python\
[](bg:color_black fg:color_blue)\
[](color_light_gray)\
$docker_context\
$conda\
$pixi\
[](bg:color_black fg:color_light_gray)\
$line_break\
[](color_dark_gray)$time[](bg:color_black fg:color_dark_gray)\
${custom.aws_creds}\
[ ☯ ](bg:color_black fg:color_white)\
$character"""

palette = 'dark_colors'

[palettes.pure_colors]
color_red = '#ff0000'
color_orange = '#ff8800'
color_yellow = '#ffff00'
color_green = '#00ff00'
color_blue = '#0000ff'
color_indigo = '#4B0082'
color_purple = '#9400ff'
color_white = '#ffffff'
color_black = '#000000'
color_dark_gray = '#2d2d2d'
color_light_gray = '#808080'
color_bright_red = '#ff0000'
color_bright_green = '#00ff00'

[palettes.dark_colors]
color_red = '#600000'
color_orange = '#603300'
color_yellow = '#606000'
color_green = '#006000'
color_blue = '#000060'
color_indigo = '#1d0031'
color_purple = '#380060'
color_white = '#ffffff'
color_black = '#000000'
color_dark_gray = '#2d2d2d'
color_light_gray = '#808080'
color_bright_red = '#ff0000'
color_bright_green = '#00ff00'
color_bright_yellow = '#ffff00'
color_bright_orange = '#ff8800'
color_bright_purple = '#9400ff'
color_bright_blue = '#0088ff'

[os]
disabled = false
style = "bg:color_yellow fg:color_white"

[os.symbols]
Windows = "󰍲"
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = "󰀵"
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
AOSC = ""
Arch = "󰣇"
Artix = "󰣇"
EndeavourOS = ""
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"
Pop = ""

[username]
show_always = true
style_user = "bg:color_yellow fg:color_white"
style_root = "bg:color_red fg:color_white"
format = '[ $user ]($style)'

[directory]
style = "fg:color_white bg:color_green"
format = "[ $path ]($style)"
truncation_length = 100
truncation_symbol = "…/"
truncate_to_repo = false
fish_style_pwd_dir_length = 0

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"Developer" = "󰲋 "

[git_branch]
symbol = ""
style = "bg:color_indigo"
format = '[[ $symbol $branch](fg:color_white bg:color_indigo)]($style)'

[git_status]
style = "bg:color_indigo"
format = '[[(\($all_status$ahead_behind\))](fg:color_white bg:color_indigo)]($style)'

# Customize individual status colors
conflicted = "[=$count](bold fg:color_bright_red bg:color_indigo)"
ahead = "[⇡$count](bold fg:color_bright_green bg:color_indigo)"
behind = "[⇣$count](bold fg:color_bright_yellow bg:color_indigo)"
diverged = "[⇕$count](bold fg:color_bright_purple bg:color_indigo)"
untracked = "[?$count](bold fg:color_bright_orange bg:color_indigo)"
stashed = '[$\$count](bold fg:color_bright_blue bg:color_indigo)'
modified = "[!$count](bold fg:color_bright_yellow bg:color_indigo)"
staged = "[+$count](bold fg:color_bright_green bg:color_indigo)"
renamed = "[»$count](bold fg:color_bright_purple bg:color_indigo)"
deleted = "[✘$count](bold fg:color_bright_red bg:color_indigo)"

[nodejs]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_white bg:color_blue)]($style)'

[c]
symbol = " "
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_white bg:color_blue)]($style)'

[cpp]
symbol = " "
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_white bg:color_blue)]($style)'

[rust]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_white bg:color_blue)]($style)'

[golang]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_white bg:color_blue)]($style)'

[php]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_white bg:color_blue)]($style)'

[java]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_white bg:color_blue)]($style)'

[kotlin]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_white bg:color_blue)]($style)'

[haskell]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_white bg:color_blue)]($style)'

[python]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_white bg:color_blue)]($style)'

[docker_context]
symbol = ""
style = "bg:color_light_gray"
format = '[[ $symbol( $context) ](fg:#83a598 bg:color_light_gray)]($style)'

[conda]
style = "bg:color_light_gray"
format = '[[ $symbol( $environment) ](fg:#83a598 bg:color_light_gray)]($style)'

[pixi]
style = "bg:color_light_gray"
format = '[[ $symbol( $version)( $environment) ](fg:color_white bg:color_light_gray)]($style)'

[time]
disabled = false
time_format = "%R"
style = "bg:color_dark_gray"
format = '[[  $time ](fg:color_white bg:color_dark_gray)]($style)'

[line_break]
disabled = false

[custom.aws_creds]
command = 'if [ -n "$AWS_DEFAULT_PROFILE" ] && [ -n "$AWS_DEFAULT_REGION" ]; then echo "$AWS_DEFAULT_PROFILE($AWS_DEFAULT_REGION)"; fi'
when = '[ -n "$AWS_DEFAULT_PROFILE" ]'
shell = ["sh"]
format = '[](color_red)[$output](fg:color_white bg:color_red)[](color_red)'

[character]
disabled = false
success_symbol = '[](bold fg:color_bright_green)'
error_symbol = '[](bold fg:color_bright_red)'
vimcmd_symbol = '[](bold fg:color_bright_green)'
vimcmd_replace_one_symbol = '[](bold fg:color_purple)'
vimcmd_replace_symbol = '[](bold fg:color_purple)'
vimcmd_visual_symbol = '[](bold fg:color_green)'
